/** programming-pages theme values */
$font-url: 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:700' !default;
$font-family-head: Raleway,sans-serif !default;
$font-family-body: Montserrat,sans-serif !default;

$font-size-base: 16px !default;