
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin&display=swap' !default;
$font-family-head: Lato,sans-serif !default;
$font-family-body: Lato,sans-serif !default;

$font-size-base: 14px !default;